<!DOCTYPE config>
<config>
    <IDEGeneral>
        <Option name = "splash" param ="false"/>
        <Option name = "tips" param = "false"/>
        <Option name = "language" param = "English"/>
    </IDEGeneral>
    <IDEShortcuts>
    </IDEShortcuts>
    <EditorGeneral>
        <Option name = "tabwidth" param = "4"/>
        <Option name = "spaces" param = "true"/>
        <Option name = "spaceswidth" param = "4"/>
        <Option name = "encoding" param = "utf-8"/>
        <Option name = "eol" param = "lf"/>
    </EditorGeneral>
    <EditorHighlighter>
        <Option name = "enabled" param = "true"/>
        <Option name = "highlight" type = "comment"  color = "#FFFFFF" i = "false" u = "false" s = "false" b = "false"/>
        <Option name = "highlight" type = "label"  color = "#FFFFFF" i = "false" u = "false" s = "false" b = "false"/>
        <Option name = "highlight" type = "keyword"  color = "#FFFFFF" i = "false" u = "false" s = "false" b = "false"/>
        <Option name = "highlight" type = "operand"  color = "#FFFFFF" i = "false" u = "false" s = "false" b = "false"/>
        <Option name = "highlight" type = "operator"  color = "#FFFFFF" i = "false" u = "false" s = "false" b = "false"/>
        <Option name = "highlight" type = "quote"  color = "#FFFFFF" i = "false" u = "false" s = "false" b = "false"/>
    </EditorHighlighter>
    <EditorFonts>
        <Option name = "font" family = "Monospace" size="9"/>
    </EditorFonts>
    <SimWarnings>
        <Option name = "mem_rnonexist" param = "true"/>
        <Option name = "mem_wnonexist" param = "true"/>
        <Option name = "mem_runimplement" param = "true"/>
        <Option name = "mem_wunimplement" param = "true"/>
        <Option name = "mem_rdenied" param = "true"/>
        <Option name = "mem_wdenied" param = "true"/>
        <Option name = "mem_runidentified" param = "true"/>
        <Option name = "mem_rdefault" param = "true"/>
        <Option name = "mem_rwonly" param = "true"/>
        <Option name = "mem_wronly" param = "true"/>
        <Option name = "mem_rpartwonly" param = "true"/>
        <Option name = "mem_wpartronly" param = "true"/>
        <Option name = "mem_rreserved" param = "true"/>
        <Option name = "mem_wreserved" param = "true"/>
        <Option name = "stack_over" param = "true"/>
        <Option name = "stack_under" param = "true"/>
        <Option name = "cpu_opcode" param = "true"/>
        <Option name = "cpu_jump" param = "true"/>
        <Option name = "cpu_call" param = "true"/>
        <Option name = "cpu_irq" param = "true"/>
        <Option name = "cpu_ret" param = "true"/>
        <Option name = "cpu_reti" param = "true"/>
        <Option name = "cpu_opset" param = "true"/>
        <Option name = "cpu_instunsupported" param = "true"/>
        <Option name = "cpu_instignored" param = "true"/>
        <Option name = "cpu_pcover" param = "true"/>
        <Option name = "cpu_pcunder" param = "true"/>
    </SimWarnings>
    <SimOthers>
        <Option name = "undef" param = "random"/>
        <Option name = "color" type = "line" color="#FFFFFF"/>
        <Option name = "color" type = "breakpoint" color="#FFFFFF"/>
        <Option name = "color" type = "update" color="#FFFFFF"/>
    </SimOthers>
</config>