<!DOCTYPE config>
<config>
 <IDEGeneral>
  <Option param="false" name="splash"/>
  <Option param="false" name="tips"/>
  <Option param="true" name="session"/>
  <Option param="English" name="language"/>
 </IDEGeneral>
 <IDEShortcuts/>
 <EditorGeneral>
  <Option param="4" name="tabwidth"/>
  <Option param="true" name="spaces"/>
  <Option param="4" name="spaceswidth"/>
  <Option param="utf-8" name="encoding"/>
  <Option param="lf" name="eol"/>
 </EditorGeneral>
 <EditorHighlighter>
  <Option param="true" name="enabled"/>
  <Option i="false" type="comment" name="highlight" s="false" b="false" color="#ffffff" u="false"/>
  <Option i="false" type="label" name="highlight" s="false" b="false" color="#ffffff" u="false"/>
  <Option i="false" type="keyword" name="highlight" s="false" b="false" color="#ffffff" u="false"/>
  <Option i="false" type="operand" name="highlight" s="false" b="false" color="#ffffff" u="false"/>
  <Option i="false" type="operator" name="highlight" s="false" b="false" color="#ffffff" u="false"/>
  <Option i="false" type="quote" name="highlight" s="false" b="false" color="#ffffff" u="false"/>
 </EditorHighlighter>
 <EditorFonts>
  <Option size="9" family="Monospace" name="font"/>
 </EditorFonts>
 <SimWarnings>
  <Option param="true" name="mem_rnonexist"/>
  <Option param="true" name="mem_wnonexist"/>
  <Option param="true" name="mem_runimplement"/>
  <Option param="true" name="mem_wunimplement"/>
  <Option param="true" name="mem_rdenied"/>
  <Option param="true" name="mem_wdenied"/>
  <Option param="true" name="mem_runidentified"/>
  <Option param="true" name="mem_rdefault"/>
  <Option param="true" name="mem_rwonly"/>
  <Option param="true" name="mem_wronly"/>
  <Option param="true" name="mem_rpartwonly"/>
  <Option param="true" name="mem_wpartronly"/>
  <Option param="true" name="mem_rreserved"/>
  <Option param="true" name="mem_wreserved"/>
  <Option param="true" name="stack_over"/>
  <Option param="true" name="stack_under"/>
  <Option param="true" name="cpu_opcode"/>
  <Option param="true" name="cpu_jump"/>
  <Option param="true" name="cpu_call"/>
  <Option param="true" name="cpu_irq"/>
  <Option param="true" name="cpu_ret"/>
  <Option param="true" name="cpu_reti"/>
  <Option param="true" name="cpu_opset"/>
  <Option param="true" name="cpu_instunsupported"/>
  <Option param="true" name="cpu_instignored"/>
  <Option param="true" name="cpu_pcover"/>
  <Option param="true" name="cpu_pcunder"/>
 </SimWarnings>
 <SimOthers>
  <Option param="random" name="undef"/>
  <Option type="line" name="color" color="#66ccff"/>
  <Option type="update" name="color" color="#ffff00"/>
 </SimOthers>
 <RecentFiles/>
 <RecentProjects>
  <Project path="/home/rift/Plocha/gui/localgit/mms/IDE/GUI/demo2/sdffsdf/weffwe.mds-project"/>
  <Project path="/home/rift/Plocha/gui/localgit/mms/IDE/GUI/resources/projects/MDSExample/MDSExample.mds-project"/>
  <Project path="/home/abyss/Demonstration project/jh.mds-project"/>
  <Project path="./demoprojekt/Example/Example.mds-project"/>
 </RecentProjects>
</config>
