[Desktop Entry]
Categories=Development;
Comment=Moravia Micosystems Multitarget Development System
Comment[en_US]=Moravia Micosystems Multitarget Development System
Exec=mds-ide
GenericName=MDS
GenericName[en_US]=MDS
Icon=mds-ide
MimeType=application/x-mds-project
Name=Multitarget Development System
Name[en_US]=Multitarget Development System
StartupNotify=true
Terminal=false
TryExec=mds-ide
Type=Application
Version=1.0
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
