[Desktop Entry]
Categories=Development;
Comment=Moravia Micosystems Multitarget Development System
Comment[en_US]=Moravia Micosystems Multitarget Development System
Encoding=UTF-8
Exec=mds-ide
GenericName=Multitarget Development System
GenericName[en_US]=Multitarget Development System
Icon=mds-ide
MimeType=application/x-mds-project
Name=MDS
Name[en_US]=MDS
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=MDS
Type=Application
Version=1.0
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
